<head>
  <link rel="stylesheet" href="/css/user_login.css">
</head>
<hgroup>
<h1><strong>Sign Up</strong></h1>
</hgroup>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class=" group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class=" group">
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class=" group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" %>
  </div>

  <div class=" group">
    <%= f.text_field :van_make, autocomplete: "van-make", placeholder: "Van Make" %>
  </div>

  <div class=" group">
    <%= f.text_field :van_model, autocomplete: "van-model", placeholder: "Van Model" %>
  </div>

  <div class=" group">
    <%= f.text_field :van_year, autocomplete: "van-year", placeholder: "Van Year" %>
  </div>

  <div class=" group">
    <%= f.text_field :van_wheelbase, autocomplete: "van-Wheelbase", placeholder: "Van Wheelbase" %>
  </div>

  <div class=" group">
    <%= f.text_field :van_color, autocomplete: "van-color", placeholder: "Van Color" %>
  </div>



    <%= f.submit "Sign up", :class => 'button buttonBlue' %>

<% end %>

<%= render "devise/shared/links" %>
